.idea/
*.xml
*/__pycache__
*.pdf
*.xlsx
*.xsd
*.doc
*.rar
*/xml
*/xmls_test
/extract_base_params_construction_v01 -----------/
/extract_base_params_build_v01 - здания/
/xml_сооружения_29.12.2020/
/xml_здания_Выписки_ч3/
/результаты_сооружения/
