.idea/
*.xml
*/__pycache__
*.pdf
*.xlsx
*.xsd
*.doc
*.rar
*/xml
*/xmls_test
/extract_base_params_construction_v01 -----------/
/extract_base_params_build_v01 - здания/
/src/resources/сооружения/xml_сооружения_29.12.2020/
/src/resources/здания/xml_здания_Выписки_ч3/
/src/resources/сооружения/результаты_сооружения/
